background-image: url('https://th.bing.com/th/id/R.7713deae1d2141785b3d59826048656b?rik=J0%2fVYGWwwEN%2fOQ&riu=http%3a%2f%2fwww.anagrama-ed.es%2fuploads%2fmedia%2fportadas%2f0001%2f18%2fthumb_17824_portadas_big.jpeg&ehk=zLgB4%2b9FEOxWxZmEj7%2fW1MWjyb9ru1BTHdDJn13u970%3d&risl=&pid=ImgRaw&r=0')
           background-size: cover;
            background-position: center; 
            background-repeat: no-repeat;
            height: 100vh; 
            margin: 0; 